// For Response

$pc: 1024px; // PC screen size.
$tablet: 720px; // Tablet screen size.
$phone: 320px; // Phone screen size.

$tablet-max: $tablet - 1;
$pc-max: $pc - 1;

@mixin responsive($media) {
  @if $media == phone {
    @media only screen and (max-width: $tablet-max) {
      @content;
    }
  } @else if $media == tablet {
    @media only screen and (min-width: $tablet) and (max-width: $pc-max) {
      @content;
    }
  } @else if $media == pc {
    @media only screen and (min-width: $pc) {
      @content;
    }
  } @else if $media == pc_tablet {
    @media only screen and (min-width: $tablet) and (max-width: $pc-max) {
      @content;
    }
  }
}

// For Styles

@mixin flex($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin text_font_style($fc, $ff, $fs, $fw) {
  color: $fc;
  font-family: $ff;
  font-size: $fs;
  font-weight: $fw;
  line-height: normal;
}
